<nav>
  <div class="nav-wrapper grey">
    <form (ngSubmit)="onSubmit()">
      <div class="input-field">
        <input
          id="search"
          type="search"
          required
          [(ngModel)]="searchDetails"
          [ngModelOptions]="{ standalone: true }"
        />
        <label class="label-icon" for="search"
          ><i class="material-icons">search</i></label
        >
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>
