<div class="row">
  <div class="col s12 m6 offset-m3" *ngIf="countryDetails?.name">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <div class="headline">
          <span class="card-title">{{ countryDetails.name }}</span>
          <div class="flag"><img src="{{ countryDetails.flag }}" /></div>
        </div>
        <table class="striped">
          <tbody>
            <tr>
              <td>Capital:</td>
              <td>{{ countryDetails.capital }}</td>
            </tr>
            <tr>
              <td>Population:</td>
              <td>{{ countryDetails.population }}</td>
            </tr>
            <tr>
              <td>Area:</td>
              <td>{{ countryDetails.area }}</td>
            </tr>
            <tr>
              <td>Numeric code:</td>
              <td>{{ countryDetails.numericCode }}</td>
            </tr>
            <tr>
              <td>Gini:</td>
              <td>{{ countryDetails.gini }}</td>
            </tr>
            <tr>
              <td>Timezones:</td>
              <td>
                <ul>
                  <li *ngFor="let t of countryDetails.timezones">{{ t }}}</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
